.FilterBar{
    width :100%;
    background-color: bisque;
    height: 50px;
    display: flex;
    justify-content: center;
}
.categoryList,.priceFilter{
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
}
.categories,.price{
    font-size: large;
    font-weight: 700;
    margin:0px 10px;
}
.select{
    height : 25px;
}